*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.metadata
Lab1/.cache-main
Lab1/.classpath
Lab1/.project
Lab1/.settings/org.eclipse.jdt.core.prefs
Lab2/.cache-main
Lab2/.classpath
Lab2/.project
Lab2/.settings/org.eclipse.jdt.core.prefs
Lab3/.cache-main
Lab3/.classpath
Lab3/.project
Lab3/.settings/org.eclipse.jdt.core.prefs